Repository FelipeGangrel/monorepo-system: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint, test

lefthook.yml:

common:
  verbose: true  # Enable verbose output to debug issues
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{ts,tsx,md}"
      run: git diff --name-only --cached --relative | grep '\.\(ts\|tsx\|md\)$' | xargs pnpm prettier --write && git add
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint
    test:
      run: pnpm test --bail
      glob: "**/*.{js,jsx,ts,tsx}"
# Pre-push hook
pre-push:
  parallel: false # Recommended to run sequentially for safety
  commands:
    # Ensure all tests pass before pushing
    test:
      run: pnpm test

separates core-ui stories into its own docs application
  .editorconfig
  .syncpackrc.json
  apps/docs/.storybook/docs-container.tsx
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.tsx
  apps/docs/.storybook/styles.css
  apps/docs/.storybook/theme-provider.tsx
  apps/docs/eslint.config.js
  apps/docs/package.json
  apps/docs/postcss.config.js
  apps/docs/src/alert-dialog.stories.tsx
  apps/docs/src/button.stories.tsx
  apps/docs/tailwind.config.ts
  apps/docs/tsconfig.json
  apps/docs/vite.config.ts
  lefthook.yml
  packages/core-ui/.gitignore
  packages/core-ui/.storybook/preview.tsx
  packages/core-ui/CHANGELOG.md
  packages/core-ui/index.html
  packages/core-ui/package.json
  packages/core-ui/public/vite.svg
  packages/core-ui/src/components/ui/alert-dialog/index.ts
  packages/core-ui/src/components/ui/badge/index.ts
  packages/core-ui/src/components/ui/button/button.stories.tsx
  packages/core-ui/src/components/ui/button/index.ts
  packages/core-ui/src/index.ts
  packages/core-ui/src/styles.css
  packages/core-ui/src/styles/library.css
  packages/core-ui/src/styles/preview.css
  pnpm-lock.yaml
  turbo.json
Due: prettier, lint, test

Refactor theme provider and improve test coverage
  .gitignore
  apps/docs/.storybook/theme-provider.tsx
  apps/docs/src/core-ui/alert-dialog.stories.tsx
  apps/docs/src/core-ui/badge.stories.tsx
  apps/docs/src/core-ui/button.stories.tsx
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.json
  apps/docs/tsconfig.node.json
  package.json
  packages/core-ui/jest.config.ts
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.spec.tsx
  packages/core-ui/src/components/ui/badge/badge.spec.tsx
  packages/core-ui/src/components/ui/button/button.spec.tsx
  pnpm-lock.yaml
  turbo.json
Due: prettier, lint, test

Update CSS variables for improved color consistency
  apps/docs/.storybook/styles.css
  packages/core-ui/src/styles.css
Due: none

Refactor core-ui structure and resolve alias paths
  README.md
  apps/docs/.storybook/preview.tsx
  apps/docs/.storybook/styles.css
  apps/docs/src/core-ui/alert-dialog.stories.tsx
  apps/docs/src/core-ui/badge.stories.tsx
  apps/docs/src/core-ui/button.stories.tsx
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.json
  apps/docs/vite.config.ts
  package.json
  packages/core-ui/components.json
  packages/core-ui/jest.config.ts
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.spec.tsx
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.tsx
  packages/core-ui/src/components/ui/badge/badge.tsx
  packages/core-ui/src/components/ui/button/button.tsx
  packages/core-ui/src/index.ts
  packages/core-ui/src/styles.css
  packages/core-ui/tsconfig.json
Due: prettier, lint, test

Update npm registry configuration for publishing
  README.md
  packages/core-ui/package.json
Due: prettier

Add Alert component with tests, stories, and documentation
  apps/docs/src/core-ui/alert-dialog.stories.tsx
  apps/docs/src/core-ui/alert.stories.tsx
  packages/core-ui/src/components/ui/alert/alert.spec.tsx
  packages/core-ui/src/components/ui/alert/alert.tsx
  packages/core-ui/src/components/ui/alert/index.ts
  packages/core-ui/src/index.ts
Due: prettier, lint, test

Updates
  project.json
Due: none

Updates
  404.html
  assets/Color-F6OSRLHC-VGybFv3w.js
  assets/Color-F6OSRLHC-iAS63Hqw.js
  assets/DocsRenderer-CFRXHY34-D5Y7rzYH.js
  assets/DocsRenderer-CFRXHY34-QKf_gYzZ.js
  assets/entry-preview-B95JQdl9.js
  assets/iframe-CbjegGN-.js
  assets/iframe-DxccJQz9.js
  assets/index-CDgPq_7e.js
  assets/index-CIhpiy8v.js
  assets/index-CNtNFwb-.js
  assets/preview--ii4ykH7.js
  assets/preview-BJBwEBid.css
  assets/preview-C9nWjAtF.js
  assets/preview-Cb81aKdV.css
  assets/preview-DNlGzo4Q.js
  assets/preview-DmZLqMvL.js
  assets/preview-DoM0yk8F.js
  assets/preview-DsW1RhDe.js
  iframe.html
  index.html
  project.json
  sb-addons/storybook-15/manager-bundle.js
  sb-addons/storybook-15/manager-bundle.js.LEGAL.txt
Due: lint, test

Updates
  404.html
  assets/Color-F6OSRLHC-BS4yh-GT.js
  assets/Color-F6OSRLHC-VGybFv3w.js
  assets/DocsRenderer-CFRXHY34-CKxdVDmH.js
  assets/DocsRenderer-CFRXHY34-D5Y7rzYH.js
  assets/entry-preview-B95JQdl9.js
  assets/entry-preview-CxLI2xnA.js
  assets/iframe-C0HFHfgJ.js
  assets/iframe-CbjegGN-.js
  assets/index-CGrWvAHh.js
  assets/index-CIhpiy8v.js
  assets/index-DMV9DnuN.js
  assets/preview-C9nWjAtF.js
  assets/preview-Cd73Pjy0.js
  assets/preview-DNlGzo4Q.js
  assets/preview-DigumEMT.js
  assets/preview-DsW1RhDe.js
  assets/preview-JhDjIHV2.js
  iframe.html
  index.html
  project.json
  sb-addons/storybook-15/manager-bundle.js
  sb-addons/storybook-15/manager-bundle.js.LEGAL.txt
Due: lint, test

Updates
  index.html
  project.json
Due: none

Add GitHub Actions workflow to deploy Storybook
  .github/workflows/deploy-storybook.yml
Due: none

Set up pnpm via Corepack in Storybook deployment
  .github/workflows/deploy-storybook.yml
Due: none

Update Node.js to v22 and configure pnpm activation
  .github/workflows/deploy-storybook.yml
Due: none

Update Storybook deploy workflow to use latest actions
  .github/workflows/deploy-storybook.yml
Due: none

Update Storybook deploy workflow to use latest actions
  apps/docs/.storybook/index.css
  apps/docs/.storybook/preview.tsx
Due: prettier, lint, test

Set proper permissions to enable workflow repository pushes
  .github/workflows/deploy-storybook.yml
Due: none

deploy: 5a622c9ae045b0c60d5b2201d90d4ffbf2137cee
  .changeset/README.md
  .changeset/config.json
  .editorconfig
  .gitignore
  .nojekyll
  .npmrc
  .prettierrc.json
  .syncpackrc.json
  .vscode/settings.json
  apps/docs/.storybook/docs-container.tsx
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.tsx
  assets/Color-F6OSRLHC-BS4yh-GT.js
  assets/Color-F6OSRLHC-C8GfeGN6.js
  assets/DocsRenderer-CFRXHY34-CKxdVDmH.js
  assets/DocsRenderer-CFRXHY34-ogiPPl_R.js
  assets/alert-dialog.stories-CAnM9Jro.js
  assets/alert.stories-CQAHI43Z.js
  assets/entry-preview-CxLI2xnA.js
  assets/entry-preview-kUekr3a_.js
  assets/iframe-C0HFHfgJ.js
  assets/iframe-suuPX8lr.js
  assets/index-CGrWvAHh.js
  assets/index-CYjZKk2Y.js
  assets/index-DbxJ4EF8.js
  assets/preview-3pd6InHZ.js
  assets/preview-BJBwEBid.css
  assets/preview-Cb81aKdV.css
  assets/preview-Cd73Pjy0.js
  assets/preview-CmNXNDRN.js
  assets/preview-D6iND-_l.js
  assets/preview-DigumEMT.js
  assets/preview-JhDjIHV2.js
  iframe.html
  index.html
  project.json
  sb-addons/chromatic-com-storybook-9/manager-bundle.js
Due: prettier, lint, test

Simplify permissions comment in deploy workflow
  .github/workflows/deploy-storybook.yml
Due: none

Add documentation link to the README
  README.md
Due: prettier

Switch Storybook deployment to manual trigger
  .github/workflows/deploy-storybook.yml
Due: none

Merge pull request #1
  .github/workflows/deploy-storybook.yml
  README.md
Due: prettier

Add build-storybook script and streamline Storybook setup
  .github/workflows/deploy-storybook.yml
  apps/docs/.storybook/preview.tsx
  package.json
  turbo.json
Due: prettier, lint, test

deploy: 500c2430102968e41370c63c90dd55ccac6a0c55
  project.json
Due: none

Add Chromatic configuration for docs app
  apps/docs/chromatic.config.json
Due: none

Refactor dependencies to use pnpm catalog references
  apps/docs/package.json
  package.json
  packages/core-ui/package.json
  packages/eslint-config/package.json
  packages/tailwind-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add Prettier ignore file and improve ESLint configurations
  .github/workflows/deploy-storybook.yml
  .prettierignore
  apps/docs/eslint.config.js
  apps/docs/postcss.config.js
  package.json
  packages/core-ui/eslint.config.js
  packages/core-ui/postcss.config.js
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, test

Refactor imports and improve lint commands
  .prettierrc.json
  apps/docs/.storybook/docs-container.tsx
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.tsx
  apps/docs/eslint.config.js
  apps/docs/package.json
  apps/docs/src/core-ui/alert-dialog.stories.tsx
  apps/docs/src/core-ui/alert.stories.tsx
  apps/docs/src/core-ui/badge.stories.tsx
  apps/docs/src/core-ui/button.stories.tsx
  apps/docs/tailwind.config.ts
  apps/docs/vite.config.ts
  lefthook.yml
  package.json
  packages/core-ui/eslint.config.js
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.spec.tsx
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.tsx
  packages/core-ui/src/components/ui/alert/alert.spec.tsx
  packages/core-ui/src/components/ui/alert/alert.tsx
  packages/core-ui/src/components/ui/badge/badge.spec.tsx
  packages/core-ui/src/components/ui/badge/badge.tsx
  packages/core-ui/src/components/ui/button/button.spec.tsx
  packages/core-ui/src/components/ui/button/button.tsx
  packages/core-ui/src/lib/utils.ts
  packages/core-ui/tailwind.config.ts
  packages/eslint-config/base.js
  turbo.json
Due: prettier, lint, test

Add quality control workflow and refine linting scripts
  .github/workflows/quality-control.yml
  apps/docs/package.json
  lefthook.yml
  package.json
  packages/core-ui/package.json
  turbo.json
Due: none

formats code base
  .prettierrc.json
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.tsx
  pnpm-workspace.yaml
Due: prettier, lint, test

Update deploy-storybook.yml
  .github/workflows/deploy-storybook.yml
Due: none

Update pnpm version in quality control workflow
  .github/workflows/quality-control.yml
Due: none
