Repository FelipeGangrel/monorepo-system: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint, test

prettier:
  run: pnpm format:check

lint:
  run: pnpm lint

test:
  run: pnpm test --bail

>Add coverage script to consolidate and display reports
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/coverage-total.ts
  tsconfig.json
  turbo.json
Due: prettier, lint, test

formats code base
  scripts/coverage-total.ts
Due: prettier, lint, test

Set LF line endings for all files via .gitattributes
  .gitattributes
Due: none

Convert coverage-total script from TypeScript to JavaScript
  package.json
  scripts/coverage-total.js
  scripts/coverage-total.ts
Due: prettier, lint, test

Update clean script in package.json to remove storybook-static
  apps/docs/package.json
Due: none

Add Node library TypeScript config and update package manifest
  packages/typescript-config/node-library.json
  packages/typescript-config/package.json
Due: none

Remove root level tsconfig.json file
  tsconfig.json
Due: none

Refactor import paths for improved consistency
  packages/core-ui/components.json
  packages/core-ui/jest.config.ts
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.tsx
  packages/core-ui/src/components/ui/alert/alert.tsx
  packages/core-ui/src/components/ui/badge/badge.tsx
  packages/core-ui/src/components/ui/button/button.tsx
  packages/core-ui/tsconfig.json
Due: prettier, lint, test

Remove unused CSS and configuration files
  apps/docs/.storybook/index.css
  apps/docs/.storybook/preview.ts
  apps/docs/chromatic.config.json
  apps/docs/src/core-ui/alert-dialog.stories.tsx
  apps/docs/src/core-ui/alert.stories.tsx
  apps/docs/src/core-ui/badge.stories.tsx
  apps/docs/src/core-ui/button.stories.tsx
  apps/docs/tsconfig.app.json
  apps/docs/vite.config.ts
  packages/core-ui/package.json
  packages/core-ui/src/index.ts
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.css
  pnpm-lock.yaml
  scripts/coverage-total.js
Due: prettier, lint, test

Adds package for reusable jest configs
  apps/docs/package.json
  packages/core-ui/jest.config.js
  packages/core-ui/package.json
  packages/jest-config/node.config.js
  packages/jest-config/package.json
  packages/jest-config/react.config.js
  pnpm-lock.yaml
Due: lint, test

formats package.json files
  packages/core-ui/package.json
Due: none

deploy: 132fa9962fa770738928c5c29e8a1dcd9feec0b8
  assets/Color-F6OSRLHC-C8GfeGN6.js
  assets/Color-F6OSRLHC-Dq4URDml.js
  assets/DocsRenderer-CFRXHY34-DtrqMty-.js
  assets/DocsRenderer-CFRXHY34-ogiPPl_R.js
  assets/alert-dialog.stories-CAnM9Jro.js
  assets/alert-dialog.stories-CJhIn8cH.js
  assets/alert.stories-CQAHI43Z.js
  assets/alert.stories-CVi1_xjB.js
  assets/badge.stories-7rWKC4-_.js
  assets/badge.stories-Cw8K0EcJ.js
  assets/button-DlGEYtKX.js
  assets/button.stories-DUzmeRvr.js
  assets/entry-preview-omyjmHnM.js
  assets/iframe-Bdxfug0E.js
  assets/iframe-suuPX8lr.js
  assets/index-38LmdSzN.js
  assets/index-BWa3kLj0.js
  assets/index-Bcst1ezr.js
  assets/index-CZozznWT.js
  assets/index-DGrVP100.js
  assets/index-DbxJ4EF8.js
  assets/index-LBsuDXtZ.js
  assets/jsx-runtime-CLpGMVip.js
  assets/preview-3pd6InHZ.js
  assets/preview-BJBwEBid.css
  assets/preview-BXABPAdv.js
  assets/preview-Cb81aKdV.css
  assets/preview-CmNXNDRN.js
  assets/preview-D6iND-_l.js
  assets/preview-D_OYTgF3.js
  assets/preview-F7izIXrt.js
  iframe.html
  index.html
  index.json
  project.json
  sb-addons/chromatic-com-storybook-9/manager-bundle.js
Due: lint, test

Add Form, Input, and Label UI components with tests
  apps/docs/src/stories/core-ui/alert-dialog.stories.tsx
  apps/docs/src/stories/core-ui/alert.stories.tsx
  apps/docs/src/stories/core-ui/badge.stories.tsx
  apps/docs/src/stories/core-ui/button.stories.tsx
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/form/form.spec.tsx
  packages/core-ui/src/components/ui/form/form.tsx
  packages/core-ui/src/components/ui/form/index.ts
  packages/core-ui/src/components/ui/input/index.ts
  packages/core-ui/src/components/ui/input/inout.spec.tsx
  packages/core-ui/src/components/ui/input/input.tsx
  packages/core-ui/src/components/ui/label/index.ts
  packages/core-ui/src/components/ui/label/label.spec.tsx
  packages/core-ui/src/components/ui/label/label.tsx
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

Add form stories with validation
  apps/docs/package.json
  apps/docs/src/stories/core-ui/form.stories.tsx
  pnpm-lock.yaml
Due: prettier, lint, test

Refactor form stories to provide a better code example
  apps/docs/src/stories/core-ui/form.stories.tsx
Due: prettier, lint, test

Remove commented-out imports in form story file
  apps/docs/src/stories/core-ui/form.stories.tsx
Due: prettier, lint, test

Update jest-config package
  packages/core-ui/package.json
  packages/jest-config/package.json
  pnpm-lock.yaml
Due: none

Add Node.js-specific ESLint configuration
  packages/eslint-config/node.js
  packages/eslint-config/package.json
Due: lint, test

Enable tree-shaking in tsup configuration
  packages/core-ui/tsup.config.ts
Due: prettier, lint, test

Update eslint and jest configs
  packages/eslint-config/next-js.js
  packages/eslint-config/node-js.js
  packages/eslint-config/package.json
  packages/jest-config/node.config.js
Due: lint, test

Formats package.json files
  packages/core-ui/package.json
Due: none

Update package configurations and dependency specifications
  apps/docs/package.json
  packages/core-ui/package.json
  pnpm-lock.yaml
Due: none

Add support for additional form fields in core-ui stories
  apps/docs/src/stories/core-ui/form.stories.tsx
  packages/core-ui/src/components/ui/aspect-ratio/aspect-ratio.spec.tsx
Due: prettier, lint, test

deploy: e1a5e3baf16be977a95c241637f41d60e81a010d
  project.json
Due: none

Add `ContextMenu` component to core-ui library
  apps/docs/src/stories/core-ui/context-menu.stories.tsx
  packages/core-ui/jest.setup.ts
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/context-menu/context-menu.spec.tsx
  packages/core-ui/src/components/ui/context-menu/context-menu.tsx
  packages/core-ui/src/components/ui/context-menu/index.ts
  packages/core-ui/src/components/ui/context-menu/types.ts
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

Updates calendar and form stories adding date picker examples
  apps/docs/package.json
  apps/docs/src/stories/core-ui/calendar.stories.tsx
  apps/docs/src/stories/core-ui/form.stories.tsx
  packages/core-ui/src/components/ui/calendar/calendar.tsx
  pnpm-lock.yaml
Due: prettier, lint, test

Add Drawer component to core UI library
  apps/docs/src/stories/core-ui/drawer.stories.tsx
  packages/core-ui/jest.setup.ts
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/drawer/drawer.spec.tsx
  packages/core-ui/src/components/ui/drawer/drawer.tsx
  packages/core-ui/src/components/ui/drawer/index.ts
  packages/core-ui/src/components/ui/drawer/types.ts
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

Add DropdownMenu component to core-ui
  apps/docs/src/stories/core-ui/dropdown-menu.stories.tsx
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/dropdown-menu/dropdown-menu.spec.tsx
  packages/core-ui/src/components/ui/dropdown-menu/dropdown-menu.tsx
  packages/core-ui/src/components/ui/dropdown-menu/index.ts
  packages/core-ui/src/components/ui/dropdown-menu/types.ts
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

updates lockfile
  pnpm-lock.yaml
Due: none

Add HoverCard component and story to Core UI
  apps/docs/src/stories/core-ui/hover-card.stories.tsx
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/accordion/accordion.spec.tsx
  packages/core-ui/src/components/ui/alert-dialog/alert-dialog.spec.tsx
  packages/core-ui/src/components/ui/alert/alert.spec.tsx
  packages/core-ui/src/components/ui/avatar/avatar.spec.tsx
  packages/core-ui/src/components/ui/breadcrumb/breadcrumb.spec.tsx
  packages/core-ui/src/components/ui/calendar/calendar.spec.tsx
  packages/core-ui/src/components/ui/card/card.spec.tsx
  packages/core-ui/src/components/ui/carousel/carousel.spec.tsx
  packages/core-ui/src/components/ui/checkbox/checkbox.spec.tsx
  packages/core-ui/src/components/ui/collapsible/collapsible.spec.tsx
  packages/core-ui/src/components/ui/command/command.spec.tsx
  packages/core-ui/src/components/ui/context-menu/context-menu.spec.tsx
  packages/core-ui/src/components/ui/dialog/dialog.spec.tsx
  packages/core-ui/src/components/ui/drawer/drawer.spec.tsx
  packages/core-ui/src/components/ui/dropdown-menu/dropdown-menu.spec.tsx
  packages/core-ui/src/components/ui/form/form.spec.tsx
  packages/core-ui/src/components/ui/hover-card/hover-card.spec.tsx
  packages/core-ui/src/components/ui/hover-card/hover-card.tsx
  packages/core-ui/src/components/ui/hover-card/index.ts
  packages/core-ui/src/components/ui/hover-card/types.ts
  packages/core-ui/src/components/ui/input/inout.spec.tsx
  packages/core-ui/src/components/ui/label/label.spec.tsx
  packages/core-ui/src/components/ui/popover/popover.spec.tsx
  packages/core-ui/src/components/ui/select/select.spec.tsx
  packages/core-ui/src/components/ui/switch/switch.spec.tsx
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
Due: prettier, lint, test

Add custom animations to Tailwind config
  packages/tailwind-config/tailwind.config.ts
Due: prettier, lint, test

Add InputOTP component to core-ui library
  apps/docs/src/stories/core-ui/input-otp.stories.tsx
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/input-otp/index.ts
  packages/core-ui/src/components/ui/input-otp/input-otp.tsx
  packages/core-ui/src/components/ui/input-otp/types.ts
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

Add Menubar component to core-ui
  apps/docs/src/stories/core-ui/menubar.stories.tsx
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/calendar/calendar.spec.tsx
  packages/core-ui/src/components/ui/menubar/index.ts
  packages/core-ui/src/components/ui/menubar/menubar.spec.tsx
  packages/core-ui/src/components/ui/menubar/menubar.tsx
  packages/core-ui/src/components/ui/menubar/types.ts
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

Add Input component stories to Storybook
  apps/docs/src/stories/core-ui/input.stories.tsx
Due: prettier, lint, test

Add Table component to core-ui library
  apps/docs/src/stories/core-ui/table.stories.tsx
  packages/core-ui/package.json
  packages/core-ui/src/components/ui/table/index.ts
  packages/core-ui/src/components/ui/table/table.spec.tsx
  packages/core-ui/src/components/ui/table/table.tsx
  packages/core-ui/src/components/ui/table/types.ts
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

Add DataTable component with stories and context
  apps/docs/package.json
  apps/docs/src/stories/core-ui/data-table.stories.tsx
  packages/core-ui/src/components/ui/data-table/context.ts
  packages/core-ui/src/components/ui/data-table/data-table.tsx
  packages/core-ui/src/components/ui/data-table/index.ts
  packages/core-ui/src/components/ui/data-table/types.ts
  packages/core-ui/src/components/ui/data-table/utils.ts
  packages/core-ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint, test

Path conditions:
  prettier: any of: *.{ts,tsx,md}
  lint: any of: *.{js,jsx,ts,tsx}
  test: any of: **/*.{js,jsx,ts,tsx}
